{{ file_managed_by_ansible }}

# CIS rule 6_1_1_3
[Journal]
{{ ubtu24cis_journald_systemmaxuse }}
{{ ubtu24cis_journald_systemkeepfree }}
{{ ubtu24cis_journald_runtimemaxuse }}
{{ ubtu24cis_journald_runtimekeepfree }}
{{ ubtu24cis_journald_maxfilesec }}
